{% extends 'Base.html' %}

{% block title %}
Clasificación de Pilotos
{% endblock %}

{% block content %}
<style>
    * {
        font-family: sans-serif;
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table thead tr {
        background-color:#FF0000;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #cdcdcd
    }

    .content-table tbody tr.active-row {
        font-weight: bold;
        color: #0a0a0a;
    }
</style>


<body>
    <table class="content-table"> 
        <thead>
            <tr>
                <th> Posición </th>
                <th> Conductor </th>
                <th> Nacionalidad </th>
                <th> Auto </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> Max Verstappen </td>
                <td> Neerlandés </td>
                <td> Red Bull Racing RBPT</td>
            </tr>
            <tr class="active-row">
                <td> 2 </td>
                <td> Charles Leclrec </td>
                <td> Monegasco </td>
                <td> Ferrari </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> Sergio Pérez </td>
                <td> Mexicano </td>
                <td> Red Bull Racing RBPT </td>
            </tr>
        </tbody>
    </table>
</body>
    {% endblock %}