{% extends 'Base.html' %}

{% block title %}
Página para crear Pilotos
{% endblock %}

{% block content %}
<body>
    {% if form %}
    <form action="" method="POST">
        {% csrf_token %}
        <h1> ¡Bienvenido a la página para crear pilotos! </h1> 
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Crear piloto">
    </form>
    {% endif %}

    {% if form_errors %}
        <h3 style = "color: red;" > El formulario contiene el siguiente error: </h3>
        {{form_errors}}
    {% endif %}

    {% if mensaje %}
    <h3 style = "color: green;" > {{mensaje}} </h3>
    {% endif %}


</body>
</html>
{% endblock %}