{% extends 'Base.html' %}

{% block title %}
Página de Inicio 
{% endblock %}

{% block content %}

<pre> Tras final de la temporada 2022, la parrilla de equipos y pilotos para el mundial 2023 de Fórmula 1 ya está definida.
    La Fórmula 1 se caracteriza por tener un mercado de mucha anticipación, en el que los pilotos y equipos negocian los contratos
    de la siguiente temporada ya desde la mitad del curso actual. A continuación, la lista de los equipos y pilotos que participarán
    de la temporada 2023 de la Fórmula 1
</pre>

{% endblock %}