<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de circuitos </title>
</head>

<body>
    <table border="1px solid black">
        <h1> ¡Bienvenido a la página de Circuitos de la Formula 1 Temporada 2023! </h1>
        <thead>
            <tr>
                <th> Nombre </th>
                <th> Ubicación </th>
                <th> Longitud </th>
                <th> Capacidad </th>
            </tr>
        </thead>

        <tbody>
            {% for circuitos in circuitos %}

            <tr>
                <td> {{circuitos.nombre}} </td>
                <td> {{circuitos.ubicacion}} </td>
                <td> {{circuitos.longitud}} </td>
                <td> {{circuitos.capacidad}} </td>
        </tbody>

        </tr>
        {% endfor %}

    </table>
</body>

</html>